
.search-input::placeholder {
    color: white !important;
    opacity: 1;
}


@media (min-width: 320px) and (max-width: 420px) {

.py-5{
    padding: 0 !important;
    padding: 40px 20px !important;
}


}